html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.container {
    display: flex;
    width: 100%;
    height: 100vh;
    background: no-repeat top / 100% url("images/pattern-background-desktop.svg") hsl(225, 100%, 94%);
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: 'Red Hat Display', sans-serif;
}

    .main-content {
        width: 450px;
        height: 697px;
        background: white;
        border-radius: 20px;
        text-align: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

        .header-image {
            display: block;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            margin: none;
        }

        .main-information {
            box-sizing: border-box;
            padding: 45px;
            height: 477px;
            width: 100%;
        }

            h1 {
                margin-bottom: 17px;
                font-size: 28px;
                font-weight: 900;
                 color: #1F2E55;
            }

            .sub-text {
                margin-bottom: 20px;
                line-height: 26px;
                font-size: 16px;
                color: #717FA6;
            }               

            .select-plan {
                display: grid;
                width: 100%;
                height: 98px;
                background: #F7F9FF;
                border-radius: 11px;
                margin-bottom: 32px;
                box-sizing: border-box;
                padding: 25px 24px;
                grid-template-columns: 48px 112px 1fr;
            }

                .plan {
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    padding-left: 20px;
                    justify-content: space-between;
                }       

                    .billing-time-text {
                        font-size: 16px;
                        color: #1F2E55;
                        font-weight: 900;
                    }

                    .price-text {
                        color: #717FA6;
                    }
                
                a {
                   font-size: 14px;
                   color: #382AE1; 
                   font-weight: 700;
                   align-self: center;
                   justify-self: flex-end;
                }

                a:hover {
                    text-decoration: none;
                    color: #766CF1;
                }

            .proceed {
                width: 100%;
                height: 50px;
                border-radius: 11px;
                border: none;
                background: #382AE1;
                color: white;
                font-size: 15px;
                font-weight: 700;
                filter: drop-shadow(0px 20px 20px rgba(56, 42, 225, 0.1903));
                margin-bottom: 32px;
            }

            .proceed:hover {
                background: #766CF1;
                color: white;
            }

            .cancel {
                width: 100%;
                height: 20px;
                font-size: 15px;
                background: none;
                color: #717FA6;
                border: none;
                font-weight: 700;
            }

            .cancel:hover {
                color: #1F2E55;
            }

@media (max-width: 375px) {
    .container {
        background: no-repeat top / 100% url(images/pattern-background-mobile.svg) hsl(225, 100%, 94%);
    }
    .main-content {
        width: 327px;
        height: 567px;
    }
    .main-information {
        padding: 24px;
        padding-top: 32px;
    }
    .header-image {
        width: 100%;
        height: auto;
    }
    h1 {
        font-size: 22px;
        margin-bottom: 16px;
    }
    .sub-text {
        font-size: 15px;
        margin-bottom: 24px;
    }
    .select-plan {
        height: 81px;
        padding: 17px;
        margin-bottom: 24px;
    }
    .proceed {
        margin-bottom: 24px;
    }
    .plan {
        justify-content: space-around;
    }
    .billing-time-text {
        font-size: 14px;
    }
    .price-text {
        font-size: 14px;
    }
    a {
        font-size: 13px;
    }
}